version: '3.8'

services:

  web:
    build: ./app             
    ports:
      - "5000:5000"           
    depends_on:              
      - db
      - cache
    environment:              
      - REDIS_HOST=cache      
      - DB_HOST=db            
      - POSTGRES_DB=appdb
      - POSTGRES_USER=aluno
      - POSTGRES_PASSWORD=segredo


  db:
    image: postgres:13
    environment:              
      - POSTGRES_DB=appdb
      - POSTGRES_USER=aluno
      - POSTGRES_PASSWORD=segredo
    volumes:
      - postgres_data:/var/lib/postgresql/data 


  cache:
    image: redis:alpine

volumes:
  postgres_data: